*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;

    
}

.display{
    width: 300px;
    height: 100px;
    background-color: #434344;
    text-align: right;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    color: white;
    position: relative;
}

.displayTop {
    padding: 10px 10px 0px 0px ;
    font-size: 18px;
    opacity: .4;
}

.displaySub {
    padding: 10px 10px 5px 10px ;
    font-size: 25px;
    font-weight: 700;
}

.displayLeft {
    position: absolute;
    left: 10px;
    opacity: .4;
}

.buttons{
    width: 300px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.button{
    background-color: #717172;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 75px;
    min-height: 75px;
    border: 1px solid #434344;
    font-size: 25px;
    font-weight: 700;
    color: white;
}

.zero {
    grid-column: span 2/3;
    border-bottom-left-radius: 20px;
}

.equal{
    border-bottom-right-radius: 20px;
}

.darkgrey {
    background-color: #555556;
}

.orange {
    background-color: #f2a33c;
}

.button:hover {
    opacity: .8;
}